@charset "UTF-8";
@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

article {
	height: 69.8vh;
}

#sideMenu {
	position: relative;
	width: 25vw;
	height: 69.8vh;
	float: left;
	text-align: center;
}

#sideMenu h1 {
	top: 20px;
	font-size: 2rem;
	font-family: GmarketSansMedium;
	margin-top: 3vh;
	background-color: #012E40;
	color: white;
	display: inline-block;
	padding: 12px;
	width: 12.5vw;
}

#sideMenu li {
	list-style: none;
	font-family: GmarketSansMedium;
	margin-top: 7px;
	padding: 5px;
	margin-left: -50px;
	cursor: pointer;
}

