#loginContainer {
	position: relative;
	width: 40%;
	height: 30%;
	top: 25vh;
	margin: 0 auto;
}

#title {
	font-size: 30px;
	font-weight: bold;
	position: relative;
	padding: 0 30px;
}

#loginBox {
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 30px;
	background-color: white;
	font-size: 18px;
}
.mb-3{
margin: 0;
}
#btnBox {
	display: flex;
	align-items: center;
	float: right;
	height: 100%;
	width: 100%;
	margin-bottom: 8px;
	font-size: 14px;
}

#btnBox>span {
	display: flex;
	align-items: center;
	margin-right: 12px;
}

#rightBox>span>a {
	text-decoration-line: none;
	color:black;
}

#leftBox {
	display: flex;
	align-items: center;
	flex: 1;
}

#rightBox {
	display: flex;
	align-items: center;
}

#loginBtn {
	position: relative;
	width: 100%;
	height: 6vh;
	background-color: #0042ec;
	display: inline-block;
	color: white;
	border-radius: 4px;
	font-size: 22px;
	border: none;
}
#flexSwitchCheckDefault{
	padding : 8px;
	line-height: 1rem;
	margin-right: 4px;
}