@charset "UTF-8";
                *{
            margin: 0;
            padding: 0;
        }
        body{
            height: 98.9vh;
        }
        #line{
            border: 2px #012E40 solid;
            position: relative;
            top: 20vh;
            margin: 0 auto;
            width: 49vw;
        }
        .point{
            width: 18px;
            height: 18px;
            top: -8px;
            border-radius: 12px 12px 12px 12px;
            position: absolute;
            background-color: black;
            font-family: GmarketSansMedium;
        }
        .point:nth-child(2){
            left: 15.6vw;
        }
        .point:nth-child(3){
            left: 32.3vw;
        }
        .point:nth-child(4){
            left: 48.9vw;
        }
        .point > p{
            width: 5vw;
            position: absolute;
            top: 3vh;
            left: -1.5vw;
        }
        #finishBox{
            font-family: GmarketSansMedium;
            position: relative;
            top: 40vh;
            margin: 0 auto;
            width: 40vw;
            border: #012E40 2px solid;
            text-align: center;
            padding: 30px;
            background-color: #012E40;
            color: white;
            line-height: 50px;
        }
        #finishBox input{
            float: right;
            background-color: #012E40;
            border: none;
            color: white;
            font-weight: bold;
        }