        @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
        *{
            margin: 0;
            padding: 0;
        }
        /* header section */
        header{
            position: relative;
            height: 19.9vh;
        }
        .logoImg{
            position: absolute;
            width: 15vw;
            height: 7vh;
            top: 6vh;
            left: 10vw;
            font-size: 2.5rem;
            font-family: GmarketSansMedium; 
            color: #012E40;           
        }
        #logoBox{
            position: absolute;
            width: 300px;
            height: 300px;
            border: black 2px solid;
        }
        .headerContents{
            position: absolute;
            width: 98.9vw;
            height: 30vh;
            background-color: #F2E3D5;
            top: 22vh;
        }
        #GNB li a{
            color: #012E40;
            text-decoration: none;
        }
        #GNB{
            right: 7vh;
            width: 50vw;
            height: 2vw;
            position: absolute;
            top : 10vh;
        }
        #LNB{
            position: absolute;
            width: 30vw;
            top: 2vh;
            right: 0;
        }
        #LNB li a{
            color: #012E40;
            text-decoration: none;
            font-size: 0.8rem;
        }
        article{
            height: 69.8vh;
        }
        #sideMenu{
            position: relative;
            width: 25vw;
            height: 69.8vh;
            float: left;
            text-align: center;
        }
        #sideMenu h1{
            top: 20px;
            font-size: 2rem;
            font-family: GmarketSansMedium;
            margin-top: 3vh;
            background-color: #012E40;
            color: white;
            display: inline-block;
            padding: 12px;     
            width: 12.5vw;            
       
        }
        li{
            list-style: none;
            font-family: GmarketSansMedium;
            margin-top: 7px;
            padding: 5px;
            margin-left: -50px;
        }
        #sideMenu a{
            text-decoration: none;
            color: black;
        }
        #sideMenu li:nth-child(3){
            border-bottom: 2px solid #c7c7c7;
            display: inline-block;
        }
        section{
            position: relative;
            width: 73.9vw;
            height: 69.9vh;
            float: right;
        }
        section > p:nth-child(1){
            font-family: GmarketSansMedium;
            position: absolute;
            font-size: 1.2rem;
            top: 5vh;
        }
        table{
            position: absolute;
            top: 15vh;
            left: 15vw;
        }
        td{
            font-family: GmarketSansMedium;
            padding: 6px;
            border: #012E40 2px solid;
        }

