<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378331338040-5f4h18sit6efv8gcl7igcgi1vv20ufgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378331338040-5f4h18sit6efv8gcl7igcgi1vv20ufgh</string>
	<key>API_KEY</key>
	<string>AIzaSyAXdzvFKRhprrG_1HzEK25WJVLYMS9yBH4</string>
	<key>GCM_SENDER_ID</key>
	<string>378331338040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OTTGIT.app</string>
	<key>PROJECT_ID</key>
	<string>ottgit-22039</string>
	<key>STORAGE_BUCKET</key>
	<string>ottgit-22039.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378331338040:ios:b0572356545ba79cd71dcd</string>
</dict>
</plist>