@charset "UTF-8";

.headerMenu {
    border-bottom: 1px solid #e6e6e6;
    position: absolute;
    top: 30%;
    left: 15%;
    width: 85vw;
    height: 7vh;
}
.headerMenu li {
    float: left;
    padding: 1.3%;
    margin-top: -16;
    position: relative;
    left: -3%;
    border-right: 1px solid #e6e6e6;
}
.headerMenu select{
	border: none;
}
#Text1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#Text1 span {
    font-size: 12px;
    font-weight: normal;
}
section #Text2 {
    font-size: 21px;
}
section #Text3 {
    font-size: 15px;
}
section #Text3 span {
    color: #034c8c;
}
section #crewList{
	font-size: 12px;
}
#crewList li {
    list-style: disc;
}