@charset "UTF-8";
        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        *{
            margin: 0;
            padding: 0;
            font-family: GmarketSansMedium;
        }
        body{
            width: 100vw;
            height: 99.8vh;
        }
        header{
            height: 15vh;
            width: 100vw;
        }
        .logoImg{
            position: absolute;
            width: 15vw;
            height: 7vh;
            top: 6vh;
            left: 10vw;
            font-size: 2.5rem;
            font-family: GmarketSansMedium; 
            color: #012E40;           
        }
        section{
            position: relative;
            height: 68.8vh;
        }
        #process{
            width: 50vw;
            height: 1vh;
            border: 2px #012E40 solid;
            position: relative;
            margin: 1vh auto;
        }
        .quiz{
            width: 60vw;
            height: auto;
            left: 20vw;
        }
        .quiz h1{
            margin-bottom: 2vh;
        }
        #selectBox{
            text-align: center;
        }
        #selectBox img{
            width: 25vw;
            height: 30vh;
            margin: 5px;
        }
        footer{
            border: 2px green solid;
            height: 5vw;
        }