@charset "UTF-8";

body{
	width:550px; 
	height:450px;
}
form{
	padding : 7px;
	margin-bottom: 12px;
}
#mainBox{
	position:relative;
	width:80%;
	margin: 0 auto;
	height: 70%;
	top:13vh;
}
input{
  height: 32px;
  border: 0;
  outline: none;
  padding-left: 10px;
  border-bottom: 2px solid #012E40;
}
.btn{
	position: relative;
	border: none;
	background-color: #0042ec;
	width:100%;
	text-align: center;
	color: white;
	border-radius: 4px;
}
#closeBtn{
	position: absolute;
	width:100px;
	bottom: 30px;
	right: 20px;
}

.btnBox{
	padding-top: 20px;
}